body {
    background-image: url("https://static.gosugamers.net/a6/80/09/a0b3b6a57d15c2db467a31ed12e0c16f30c1c111f7321a0a5000965ae7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 0;
}

#screen button {
    background-color: #22252e;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 90px;
    height: 50px;
    border: none;
    margin: 20px;
    margin-top: 40px;
}

#screen {
    background-color: rgba(58, 65, 92, 0.7);
    border-radius: 20px;
    width: 500px;
    height: 300px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#nao-aceita {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#botoes {
    display: flex;
    flex-direction: row;
}

#botoes button {
    font-size: 20px;
}

#pergunta {
    color: white;
    font-size: 20px;
}

#aceita button{
    margin-top: 100px;
    color: turquoise;;
}

#nao-aceita button{
    color: rgb(247, 93, 66);
}
